body{
  margin: 0;
  background-image: url('158887955.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.container{
  width: 100%;
}
h1{
  text-align: center;
  margin: 3.3% auto;
}
.photos{
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.img{
  width: 20%;
  
}
.links{
margin-bottom: 2%;
font-size: 22px;
}
ul{
  margin-top: 1.5%;
  font-size: 22px;
}
li{
  margin-bottom: 0.5%;
  list-style-image: url('icons8-котенок-25.png');
}
a{
color: black;
}
a:visited{
  color: red;
}
a:hover{
  color: rgb(17, 100, 148);
}
