body{
  margin: 0;
 background-color: rgb(238, 225, 188);
}
.container{
  width: 100%;
  height: 100%;
}
h1, h2{
  width: 100%;
  text-align: center;
}
.photos{
  width: 55%;
  margin: 2% auto;
}
.img {
  height: 500px;
  margin-right: 1%;
}
.videos{
  width:70%;
  margin: 0 auto;
  display: flex;
justify-content: space-around;
}
.vid{
  height: 500px;
  width: 400px;
}
.links{
margin-top: 3%;
margin-bottom: 2%;
font-size: 22px;
  margin-left: 19%;
}
ul{
  margin-top: 1.5%;
  font-size: 22px;
}
li{margin-bottom: 0.5%;
  list-style-image: url('icons8-котенок-25.png');
}
a{
color: black;
}
a:visited{
  color: red;
}
a:hover{
  color: rgb(17, 100, 148);
}
