body{
  margin: 0;
  background-color: rgb(228, 185, 138);
}
.container{
  width: 100%;
  height: 100%;
}
.row{
  width: 97%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1.5%;
}
.photos{
  width: 50%;
  margin-left: 5%;
}
.left{
  width:55%;
  height: 50%;
  margin-bottom: 2.5%;
  margin-left: 40%;
}
.left_photo{
  width: 100%;
  height: 100%;
}
.right{
  width:55%;
  height: 50%;
  margin-left:-7%;
}
.right_photo{
  width: 100%;
  height: 100%;
}
.text{
  width: 50%;
  background-color: rgb(255, 255, 255);
  border: 2px dashed rgb(17, 100, 148);
  margin-right: 1.5%;
}
h1{
  text-align: center;
  color: rgb(17, 100, 148);
  background-color:rgb(255, 255, 255);
  width: 90%;
  margin: 3% auto 0.3%;
}
h2{
  margin-top: 0;
  color: rgb(17, 100, 148);
  text-align: center;
}
.text p{
  text-align: justify;
  width: 80%;
  font-size: 25px;
  margin: 0 auto;
}
.links{
margin-top: 3%;
margin-bottom: 2%;
}
ul{
  width: 77%;
  margin: 0 auto;
  margin-top: 1.5%;
  font-size: 22px;
}
li{margin-bottom: 0.5%;
  list-style-image: url('icons8-котенок-25.png');
}
a{
color: black;
}
a:visited{
  color: red;
}
a:hover{
  color: rgb(17, 100, 148);
}
